/* Default Demo Style */
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);

/* HTML from Bootstrap */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

/* Page Loader */

	.preloader,
.preloader__spinner {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.preloader {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  z-index: 999998;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}
.preloader__spinner {
  position: absolute;
  margin: auto;
  z-index: 999999;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  -webkit-animation: spinnerAnimation 1s ease-in-out infinite;
          animation: spinnerAnimation 1s ease-in-out infinite;
}
@-webkit-keyframes spinnerAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinnerAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.preloader::before,
.preloader::after {
  content: '';
  display: block;
  position: absolute;
  width: 200%;
  height: 50%;
  left: -50%;
  background: #252525;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.preloader:before {
  top: 0;
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.preloader:after {
  bottom: 0;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}
.preloader.active {
  opacity: 0;
}
.preloader.active .preloader__spinner {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  opacity: 0;
}
.preloader.active:before,
.preloader.active:after {
  -webkit-transform: scaleY(0) rotate(25deg);
          transform: scaleY(0) rotate(25deg);
}




.js body::before {
	content: 'Loading...';
	font-family: 'Montserrat';
	letter-spacing: 0.2em;
	text-indent: -0.2em;
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #facb7a;
	z-index: 1000;
	pointer-events: none;
	transition: transform 0.5s;
}

.js .loading::before {
	transform: translate3d(0,100%,0);
}


@media screen and (min-width:1024px){
	.vcenter {
display: flex; align-items:flex-start;
  justify-content: center;

}
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width:768px){
	body,html{
    overflow-x: hidden; 
	}
}
a{
	text-decoration: none !important;
}
/* Font Icons */ 
@font-face {
  font-family: 'oxp-demo';
  src: url('../fonts/oxp-demo.eot?71650457');
  src: url('../fonts/oxp-demo.eot?71650457#iefix') format('embedded-opentype'),
       url('../fonts/oxp-demo.woff?71650457') format('woff'),
       url('../fonts/oxp-demo.ttf?71650457') format('truetype'),
       url('../fonts/oxp-demo.svg?71650457#oxp-demo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'oxp-demo';
	margin: 0 4px;
	
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: none;
	text-align: center;
}

.icon-th:before { content: '\e800'; } 
.icon-left:before { content: '\e803'; }

/* Main Style */
body, html {
	padding: 0;
	margin: 0;
  	font-size: 100%;
  	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
      background:#fff;
      text-align: center;
      -webkit-transition: opacity 400ms;
      -moz-transition: opacity 400ms;
      transition: opacity 400ms;
	   min-height: 100%;
}


body {
	font-family: 'Roboto',Arial,sans-serif;
	color: #fff;
	background: #f8d135;
}
body .header{
  color: #000;
}
a, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	color: #333;
}

h1, h2, h3 {
	font-family: 'Roboto',Arial,sans-serif;
}

h1 { 
	font-size: 3em !important; 
	font-weight: 300; 
	display: inline-block;
	color: white !important;
	padding-top: 0.3em;
	padding-left: 0.5em;
	vertical-align: middle;
}

h2 { 
	font-size: 3em !important; 
	font-weight: 300; 
	display: inline-block;
	padding-top: 3em;
	padding-left: 0.5em;
	vertical-align: middle;
	color:#111111 !important;
	text-align: left;
}
.title{
	padding-left: 1em;
	padding-right:1em;
}
@media screen and (max-width:480px){
	h2{
		
		padding-left: 30px;
		padding-right: 30px;
	}
	h3{
		padding-left: 30px;
		padding-right: 30px;
		text-align: left;
	}
}

@media screen and (max-width:784px){
	h2{
		padding-top: 4em;
		font-size:2em !important;
	}
	h3{
		font-size: 1em !important;
		
	}
}
h3 { 
	font-size: 1.2em; 
	font-weight: 400; 
	color:#111111 !important;
	
}
.h3-emphasis{
	font-weight: 800; 
	font-size: 1.1em; 
	font-style: italic;
}
ul{
	padding-top: 1em;
	padding-bottom: 1em;
}
li{
	text-align: left;
}
/*footer*/
footer{
	background-color: rgba(17,17,17,0.8);
	color:white;
	padding: 2em;
}
	.social-media{
      padding-top: 0.7em;
	  color:#fff !important;
	}
.footer-link{
	color:#ffffff !important;
}

/*footer*/



blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  text-align: left;
  font-style: italic;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}







.main  {
  margin: 25px auto;
  max-width: 980px;
}
.main p {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 180%;
  font-weight: 100;
}




/*button*/
.button, .button:visited, .button-dark {
     max-width:35vw; 
	position:relative; 
	z-index:500;
	display: block;
  width:20em;
  margin:0 auto;
  padding: 10px;
 
  color: #ffffff;
  background-color: #333333;
  border: 2px solid #ffffff;
  border-radius: 3px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.1s ease;
}
.button-dark, .button-dark:visited {
  margin: 20px 10px 30px 0;
  color: #464646;
  border-color: #464646;

}
.button:hover, .button-dark:hover {
  transition: all 0.3s ease;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-color:#000000;
  color:#000000;
}
.button-dark:hover {
  color: #ffffff;
  background-color: rgba(70, 70, 70, 0.9);
}

.secondary-button{
	display: inline-block;
	float: right;
	padding: .8em 1em;
	margin-bottom: 1em;
	background:#acb7c0;
	color: #111111;
	font-weight: bold;
}

.secondary-button:hover{
	background-color: #bac4cb;
}





/* Header Style */
.pageHeader{
	font-weight: 500;
	padding-top: 0;
	margin-top: -1.25em;
}
.container{
	padding: 0 !important;
}
.container .header {
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container .header span {
	display: block;
	font-size: 60%;
	opacity: 0.8;
	padding-bottom: 0.6em;
}

/* To Navigation Style */
.nav-top {
	background: #fff;
	background: -webkit-linear-gradient(right,rgba(0,0,0,0),rgba(0,0,0,0.6));
	text-transform: uppercase;
	width: 100%;
	font-size: 0.65em;
	line-height: 2.6;
	height: 7em;
	padding-left: 5em;
	position: fixed;
	top:0px;
	z-index: 100;
	right: 0;
	
}
.nav-top-without-bg{
	background-color: transparent !important;
	background: none;
}


.nav-top a {
	padding: 1.5em 1em;
	
	letter-spacing: 0.1em;
	font-size:1.25em;
	color: #444;
	display: inline-block;
}

.nav-top a:hover {
	background: rgba(255,255,255,0.95);
	color: #333;
	text-decoration: none;
}

.nav-social {
	float: left;
	padding: 0.6em 0.6em 0 0.6em;
}
@media screen and (max-width:540px){
	.nav-top{
		padding: 0 !important;
		
	}
}

.nav-social span {
	margin-right: 0.5em;
}

.nav-top span.right {
	float: right;
}
.nav-top span.left{
	float:left;
	padding-top: 0.5em;
}
.nav-top span.left img{
	max-width: 4rem;
	
}
.nav-top span.right a {
	float: left;
	display: block;
}
.page-a{
  color: #fff;
}


/*overlay*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.hamburger{
	font-size:28px;
	cursor:pointer; 
	vertical-align: middle;
	padding-right: 10px;
}


@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*overlay*/











/*sections*/
.section{
	height:auto;
	background: #bfd5e0;
	background: linear-gradient(  rgba(217,219,216,0) 0%,rgba(217,219,216,0.2) 1%,rgba(217,219,216,0.4) 3%,rgba(217,219,216,0.6) 5%,rgba(217,219,216,0.8) 7%, rgba(217,219,216,1) 9%, #bfd5e0 100% );
	
	box-shadow: inset 0 -5px 8px 0 rgba( 0, 0, 0, 0.05 );
	
}
@media screen and (min-width:1018px){
	.section-descriptions{
		text-align: left;
		
	
     }
}
	.section-descriptions{
		text-align: left;
		padding: 2em;
     }












/*brands*/
.brands{
	max-width: 6em;
	padding-top: 1em;
}




.page-title{
	padding-top: 4em;
}
@media screen and (max-width:960px){
	.page-title{
		padding-top: 4em;
		font-size: 1.8em !important;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}
}

/* Paste this css to your style sheet file or under head tag */ /* This only works with JavaScript, if it's not present, don't show loader */ 
.no-js #loader { display: none;  } .js #loader { display: block; position: absolute; left: 100px; top: 0; } 
.se-pre-con {         
	position: fixed;         
	left: 0px;         
	top: 0px;         
	width: 100%;         
	height: 100%;         
	z-index: 9999;         
	background-color: #fff; }




/* ======================================
 * STICKY HEADER
 * ====================================== */
#dim_overlay{
	background-color:black;
	opacity:0.5;
	height:100%; width:100%;
	z-index:999999;
	position:fixed;
	opacity:0;
	display:none;
}
#dim_anchor{
	height:85%; width:100%;
	position:absolute;
	bottom:0;
}
.sticky_outer{
	position:fixed;
	top:0px;
	width:100%;

	z-index:999999999999;
}
/*.display{
	display:block;
}*/
.sticky_inner{
	background:rgba(0,0,0,0.7);
	height:45px;   /*=0.5*logo height + free space*/
/*	width:40%;
	left:30%;*/
	width:100%;
	color:white;
	position:relative;
	/*border-bottom:2px solid red;*/
	font-family: 'Droid Serif', serif;
	font-size: 1.5em
}
@media screen and (max-width:760px){
	.sticky_inner{
		font-size:3vw;
	}
}
@media screen and (max-width:480px){
	.sticky_inner{
		font-size:4vw;
	}
}
.sticky_logo{
	width:100px;
	position:absolute;

	cursor:pointer;
	z-index:999999999999;
}
.sticky_nav_left{
	width:49%; display:inline-block;
	text-align: right
}
.sticky_nav_right{
	width:49%; display:inline-block;
	text-align: left
}

.sticky_nav_text{
	margin-left: 5vw;
	margin-right: 5vw;
	top:0.3em;
	position:relative;
	color: #ff8383;
	text-decoration: none;
	display: block;
	transition: all 0.3s;
}
@media screen and (max-width:760px){
	.sticky_nav_text{
		
		margin-left: 8vw;
		margin-right: 8vw;
		top:0.7em;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}
}
@media screen and (max-width:480px){
	.sticky_nav_text{
		top:0.6em;
		margin-left: 13vw;
		margin-right: 13vw;
	}
}

.sticky_nav_text a{
	color:white;
}
.sticky_nav_text a.current{
	color: #ff8383;
	text-shadow: 1px 1px 1px #2a2a2a;
}
.sticky_nav_text a:hover, .sticky_nav_text a:active, .sticky_nav_text a:focus{
	color: #ff6868 !important; 
/*	#ff8383*/
}
@media screen and (max-width:480px){
	.sticky_logo{
		top:0;
		max-width: 80px;
	}
}



