
  
  /*article*/
  .card {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    width: 300px;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
    transition: box-shadow 0.15s ease-out, transform 0.25s ease;
    perspective: 500px;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    border: 0 !important;
    background-color: #393F43 !important;
  }
  .card:hover {
    background-color: #242424;
  }
  .card:hover .card__image{
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */

  }
  .card:hover .project-card{
    opacity: 0.4 !important;
    filter: alpha(opacity=40) !important; /* For IE8 and earlier */
  }
  .card.hover--ending {
    transition: box-shadow 0.5s ease;
  }
  @media only screen and (min-width: 540px) {
    .card {
      display: inline-block;
    }
  }
  .card + .card {
    margin: 45px auto 0;
  }
  @media only screen and (min-width: 540px) {
    .card + .card {
      margin: 0 0 0 25px;
    }
  }
  
  /*span*/
  .highlight {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: 3;
    transition: opacity 0.25s ease;
    background: radial-gradient(60px at 50%, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0) 100%);
  }
  
  /*a*/
  .card__link {
    display: block;
    position: relative;
    height: 228px;
    overflow: hidden;
    transform-origin: center center;
    transform-style: preserve-3d;
  }
  
  /*img*/
  .card__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  /*h2*/
  .card__title {
    font-size: 18px;
    width: 100%;
    height: 40px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 40%;
    text-overflow: ellipsis;
  
    opacity: 0;
    transition: opacity 0.15s ease-in;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
    /*article*/
  }
  .card:hover .card__title {
    opacity: 1;
  }
  
  
  