/* .landingHead{
    height: 100vw;
    max-height: 700px;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
}

@media screen and (max-width:991px){
    .landingHead{
        height: 60vw;
    }
}
@media screen and (max-width:1280px){
    .landingHead{
        height: 70vw;
    }
}
.landingHead-background{
    width: 100%;
    height: auto;
    position: absolute;
    top:0;
    left: 0;
}
.landingHead-me{
    max-width: 40vw;
    position: absolute;
    
    z-index: 100;
    margin-top: 10vw;
    margin-right: 7vw;
    display: inline-block;
}
.landingHead-dragon{
    max-width: 50vw;
    position: absolute;
    z-index: 200;
    margin-left: 5vw;
    margin-top: 0vh;
    left: 1em;
    top: 0;
    display: inline-block;
}
.landingHead-frame{
    position: absolute;
    width: 100%;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: transform 100ms linear 0s;
}
.img-responsive{
    width: 100%;
    height: auto;
}

.landingHead-ball{
    max-width: 16vw;
    position: absolute;
    left: 35vw;
    top: 15vw;
    z-index: 500;
    transition: all 0.7s ease-in-out;
    display: inline-block;
    -webkit-animation: rotating 2s linear infinite;
}
.ball-image{
    width: 100%;
    height: auto;
    animation: rotating 2s linear infinite;
}


@keyframes rotating {
    0%{
        -webkit-transform: scale(1);
    }

    50%{
        -webkit-transform: scale(1.05);
    }

	100%{
		-webkit-transform: scale(1);
	}
} */

.landingHead{
    display: grid;
    width: 100vw;
    min-width: 1440px;
    overflow: hidden;
    padding: 0;
    grid-template-columns: repeat(12, 8vw);
    grid-template-rows: repeat(12, 6vw);
    column-gap: 10px;
    row-gap: 10px;
    max-height: 750px;
    background-color: #F4EFEB;
}


@media screen and (max-width: 991px){
    .landingHead{
        max-height: 70vw;
    }
}

.landingHead-background{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 12;
}
.landingHead-me {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 11;
}
@media screen and (max-width:768px){
   .landingHead-me {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 11;
} 
}
.landingHead-dragon {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
}
.landingHead-frame{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 12;
}
.landingHead-frame .frame{
    width: 120vw;
    float: left;
}
.landingHead-ball{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
}
.ball-image{
    animation: rotating 2s linear infinite;
}


@keyframes rotating {
    0%{
        -webkit-transform: scale(1);
    }

    50%{
        -webkit-transform: scale(1.05);
    }

	100%{
		-webkit-transform: scale(1);
	}
}

.hero-bg{
    display: initial !important;
}

.lazy-load-image-loaded{
    float: left;
}