

.cb-fixed-bg{
  background-image: url("../../public/assets/img/smokefree/smokefree-fixed-background.webp");
  background-attachment: fixed;
  background-size: cover;
}

.hero-bg{
  min-width: 100vw !important;
}

.cb-header{
  
  background-position: center;
  background-size: cover;
  min-height: 400px;
}

.cb-header-content{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 500px;
}


.information-flow{
  background-color: #4C4C4E;

}
.information-flow p{

}
.information-flow p a{

  text-decoration: underline;
}

.future-section{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(242,235,243,1) 0%, rgba(234,241,249,1) 90.1% );
}
.cd-header div{
  color: #212529 !important;
}
.cd-header h1{
  font-size: 2.5rem;
}
.cb-header p{
   color: #212529 !important;
}

.header-link{
  color: #ff6868 !important;
}