


.hero-bg{
  width: 100vw !important;
}
.coswd-project-logo{
  width: 250px;
    margin-bottom: 25px;
}
.cd-header{
  
  background-position: center;
  background-size: cover;
  min-height: 600px !important;
}
.coswd-header p{
  color: #fff;
}
.coswd-header-content{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #ffffff;
  min-height: 500px;
}


.information-flow{
  background-color: #4C4C4E;
  color: #fff;
}
.information-flow p{
  color: #fff;
}
.information-flow p a{
  color: #fff;
  text-decoration: underline;
}

.future-section{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(242,235,243,1) 0%, rgba(234,241,249,1) 90.1% );
}