.civiclabFrame{
  border:0;
  margin: 0 auto;
}
.civiclab-section1{
  background: linear-gradient(to left, #8e9eab , #eef2f3);
}
.covid-header{
  background-image: url("../../public/assets/img/covid/covid-header.jpg");
  background-position: center;
  background-size: cover;
  min-height: 500px;
  position: relative;
}
.covid-logo{
  margin-bottom: 1em;
  width: 70px;
}

.covid-header-content{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #ffffff;
  min-height: 500px;
}

.credit{
  position: absolute;
  bottom: 25px;
  font-size: 13px;
}


.covid-fixed-bg{
  background-image: url("../../public/assets/img/covid/covid-header.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff !important;
}

.covid-section{
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
  
  color: #ffffff !important;
  padding-top: 1em;
  padding-bottom: 1em;
}

.covid-link{
  color: #ffcb31 !important;
}
.label{
  text-align: center;
  padding-top: 5px;
  font-size: 12px;
}