


.datim-header{
  background-position: center;
  background-size: cover;
  min-height: 400px;
}
.datim-header p{
  color: #fff;
}
.datim-header-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #ffffff;
  min-height: 400px;
}

.datim-bg{
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.link_white{
  color: white;
  text-decoration: underline;
}
.datim-header-content h1{
  text-align: center;
}