.civiclabFrame{
  border:0;
  margin: 0 auto;
}
.civiclab-section1{
  background: linear-gradient(to left, #8e9eab , #eef2f3);
}
.civiclab-header{
  background-image: url("../../public/assets/img/civiclab/bg-header.jpg");
  background-position: center;
  background-size: cover;
  min-height: 400px;
}
.civiclab-logo{
  margin-bottom: 1em;
}
.datim-fixed-bg{
  background-image: url("../../public/assets/img/smokefree/smokefree-fixed-background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.datim-header{
  background-image: url("../../public/assets/img/datim/datim-header.jpg");
  background-position: center;
  background-size: cover;
  min-height: 400px;
}
.datim-header-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #ffffff;
  min-height: 400px;
}

.datim-bg{
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.link_white{
  color: white;
  text-decoration: underline;
}