.gp-header{
  background-image: url("../../public/assets/img/georgia-power/gp-header.jpg");
  background-position: center;
  background-size: cover;
  min-height: 500px;
}
.gp-header p{
  color: #fff;
}



.gp-logo{
  margin-bottom: 1em;
}
.gp-fixed-bg{
  background-image: url("../../public/assets/img/georgia-power/fixed-background.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.seed-fixed-bg-2{
  background-image: url("../../public/assets/img/seed/img-4.png");
  background-attachment: fixed;
}
.gp-section{
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  color: #ffffff !important;  

}
.gp-section p{
  color: #fff;
}
.GPFrame{
  border:0;
  
}
@media screen and (max-width: 991px){
  .GPFrame{
    width:438px !important;
    height: 930px !important;
    margin: 0 auto !important;
    
  }
}
