
  
  .isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
  }
  .isotope,
  .isotope .isotope-item {
    -webkit-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
            transition-duration: 0.6s;
  }
  .isotope {
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
            transition-property: height, width;
  }
  
  .isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
       -moz-transition-property:    -moz-transform, opacity;
            transition-property:         transform, opacity;
  }
  .isotope.infinite-scrolling {
    -webkit-transition: none;
       -moz-transition: none;
            transition: none;
  }
  .isotope.no-transition,
  .isotope.no-transition .isotope-item,
  .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0.1s;
       -moz-transition-duration: 0.1s;
            transition-duration: 0.1s;
  }
  
  
  .project-bg{
      background: #bfd5e0;
      background: radial-gradient(400px at 50%, #d9dbd8 0%, #bfd5e0 100%);
      box-shadow: inset 0 -5px 8px 0 rgba( 0, 0, 0, 0.05 );
      padding-bottom: 5em;
  }
  .page-title{
      padding-top: 2em;
      padding-bottom: 1em;
      font-size: 1.8em;
      text-align: center;
      font-family: 'Russo One', sans-serif;
  }
  
  /*h1*/
  .project-h1{
      margin-top:0 !important;
      margin-bottom:8px !important;
      font-weight: 500;
  }
  .project-h3{
      padding-top: 5em;
      font-size: 1.8em;
  }
  @media screen and (max-width:1096px){
      .project-h3{
          padding-top: 4em;
      }
  }
  
  
  

  .top-movies__title {
    font-size: 22px;
    color: #444e50;
    margin: 0 0 14px;
    text-shadow: 0 2px 1px rgba(255, 255, 255, 0.1);
  }
  
  .section-content {
    width: 94%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5em;
  }
  @media only screen and (min-width: 1022px) {
    .section-content {
      width: 100%;
      max-width: 960px;
      margin-top: -2em;
    }
  }
  
  .element{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 1em;
   padding: 1em;
   transition: all 0.5s ease-in-out;
  }



/*project details page*/
.title-video{
  width: 100%;
}
@media screen and (max-width: 768px){
  .title-video{
    width: 200%;
  }
  .project-logo{
    max-width: 100px;
  }
}
.project-logo{
  max-width: 200px;
}

@media screen and (min-width:1024px){
	.vcenter {
    display: flex; align-items:flex-start;
    justify-content: center;

}
}

.section{
  padding-top: 40px;
  padding-bottom: 30px;
}
.section-image{
  max-height: 600px;
  margin: 0 auto;
}
.section-media-container{
  display: flex;
}
.section1{
  background: linear-gradient(to left, #f5f7fa  , #c3cfe2);
}
.section2{
  background: linear-gradient(to left, #fdfbfb  , #ebedee);
}


.shadow-box{
	width:85% !important; 
	margin:0 auto !important; 
	background: rgba(17,17,17,0.8); 
	padding: 2em !important;
	
	
}

@media screen and (max-width:500px){
	.shadow-box{
		width:90% !important;
	}

}

.white-title{
	color: #ffffff !important;
}

blockquote {
  margin: 0 0 1rem;
}
blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  text-align: left;
  font-style: italic;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}


.cd-header {
  position: relative;
  background-color: #393F43;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
  max-height: 500px;
  overflow: hidden;
}
.header-link{
  color: #ffcb31 !important;
}

.cd-header div {
  width: 90%;
  color: #ffffff;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 16px;
  padding: 20px;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cd-header h1 {
  font-size: 1.5em;
  
}
@media only screen and (min-width: 768px) {


  .cd-header h1 {
    font-size: 3.6em;
    
  }
}

.image-row{
  display: flex;
  flex-direction: row;
}
.one-third-img{
  width: 33%;
  padding: 1em;
  height: auto;
  
}
@media only screen and (max-width: 768px) {
  .image-row{
    display: flex;
    flex-direction: column;
  }
  .one-third-img{
    width: 100%;
    padding: 1em;
    height: auto;
    
  }
}
.vcenter h2{
  margin-top: 1em;
  margin-bottom: 1em;
}

.image-within-content{
  margin-bottom: 1em;
}

.responsive-video{
  width: 100% !important;
  height: auto !important;
}