.seed-header{
  width: 100%;
  background-position: center;
  background-size: cover;
  min-height: 500px;
}
.seed-header-content{
  display: flex;
    width: 100% !important;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  min-height: 500px;
}
.seed-logo{
  max-width: 80px;
}
.seed-fixed-bg{
  
  background-attachment: fixed;
}
.seed-fixed-bg-2{
  background-image: url("../../public/assets/img/old/seed/img-4.png");
  background-color: #31ab82;
  background-attachment: fixed;
}