

.smokefree-fixed-bg{
  background-image: url("../../public/assets/img/smokefree/smokefree-fixed-background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.smokefree-header{
  
  background-position: center;
  background-size: cover;
  min-height: 500px;
}
.smokefree-header p{
  color: #fff;
}
.smokefree-header-content{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #ffffff;
  min-height: 500px;
}

.smokefree-bg{
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}