.civiclabFrame{
  border:0;
  margin: 0 auto;
}
.civiclab-section1{
  background: linear-gradient(to left, #8e9eab , #eef2f3);
}
.wydot-header{
 
  background-position: center;
  background-size: cover;
  min-height: 500px;
}
.wydot-header p, .wydot-section p{
  color: #fff;
}
.wydot-logo{
  margin-bottom: 1em;
  width: 200px;
}

.wydot-header-content{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #ffffff;
  min-height: 500px;
}


.wydot-fixed-bg{
  background-image: #021935;
  background-image: url("../../public/assets/img/old/wydot/wydot-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff !important;
}
.wydot-fixed-bg p{
  color: #fff;
}

.wydot-section{
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
  
  color: #ffffff !important;
  padding-top: 1em;
  padding-bottom: 1em;
}

.wydot-link{
  color: #ffcb31 !important;
}